name: End-to-end Testing (Nightly)
on:
  pull_request:
    # Running on pull requests to catch breaking changes as early as possible.
    # Waiting for this test to pass is recommended, but contributors can use their discretion whether they want to or not.
  schedule:
    # Run every morning Pacific Time. Random hour and minute to avoid creating excess traffic during popular times.
    # Because the test takes a long time (> 30 min) to run, it is configured to run only once a day.
    - cron:  '17 17 * * *'

jobs:
  build_and_test:
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        target_arch: [aarch64, armhf, x86_64]
        target_os: [ubuntu, debian]
        rosdistro: [melodic, noetic, dashing, foxy, galactic, rolling]
    env:
      METRICS_OUT_DIR: /tmp/collected_metrics
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - name: Setup python
      uses: actions/setup-python@v2.2.2
      with:
        # NOTE: doing a python version matrix on top of the
        # already huge target matrix would take forever,
        # so here we just target the minimum supported version
        python-version: 3.5
    - name: Install dependencies
      run: |
        sudo apt update && sudo apt install -y qemu-user-static
    - name: Install cross-compile
      run: pip install -e .
    - run: mkdir -p ${{ env.METRICS_OUT_DIR }}
    - name: Run end-to-end test
      run: |
        ./test/run_e2e_test.sh -a "${{ matrix.target_arch }}" -o "${{ matrix.target_os }}" -d "${{ matrix.rosdistro }}"
    - uses: actions/upload-artifact@v2
      with:
        name: performance_metrics
        path: ${{ env.METRICS_OUT_DIR }}
