name: Test cross_compile
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Run every day. This helps detect flakiness,
    # and broken external dependencies.
    - cron:  '0 0 * * *'

jobs:
  test_macOS:
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - uses: actions/setup-python@v2.2.2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install Tox for testing
      run: pip install tox
    - name: Run tests
      run: tox -e py

  test_ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y qemu-user-static
    - uses: actions/setup-python@v2.2.2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install Tox for testing
      run: pip3 install tox
    - name: Run tests
      run: tox -e py
    - uses: codecov/codecov-action@v1.5.2
      with:
        file: coverage.xml
        flags: unittests
        name: codecov-umbrella
        yml: ./codecov.yml
