name: Test cross_compile
on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Run every hour. This helps detect flakiness,
    # and broken external dependencies.
    - cron:  '0 * * * *'

jobs:
  test_macOS:
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.5, 3.6, 3.7]
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - uses: actions/setup-python@v2.2.1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install Tox for testing
      run: pip install tox
    - name: Run tests
      run: tox -e py

  test_ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.5, 3.6, 3.7]
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y qemu-user-static
    - uses: actions/setup-python@v2.2.1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install Tox for testing
      run: pip3 install tox
    - name: Run tests
      run: tox -e py
    - uses: codecov/codecov-action@v1.5.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: coverage.xml
        flags: unittests
        name: codecov-umbrella
        yml: ./codecov.yml
    # Upload the package to the PyPI test repository.
    # This will silently fail if a package with this version number already
    # exists.
    - uses: ros-tooling/action-pypi@0.0.3
      # As the package is platform-independent, only trigger this step on Linux
      # and only on push.
      # This action should never happen on pull-request, as it would lead us
      # to upload the package in its initial state, before review.
      # The final state of the pull request would then never be uploaded, as
      # we cannot overwrite packages.
      if: github.event_name == 'push'
      with:
        username: ${{ secrets.PYPI_USERNAME }}
        password: ${{ secrets.PYPI_PASSWORD }}
        repository-url: https://test.pypi.org/legacy/

  log_workflow_status_to_cloudwatch:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:bionic
    needs: [test_macOS, test_ubuntu]
    # Don't skip if prior steps failed, but don't run on a fork because it won't have access to AWS secrets
    if: ${{ always() && ! github.event.repository.fork && ! github.event.pull_request.head.repo.fork }}
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
    - uses: ros-tooling/action-cloudwatch-metrics@0.0.4
      with:
        metric-value: ${{needs.test_macOS.result == 'success' && needs.test_ubuntu.result == 'success' }}
